.container__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s ease-in-out;
    height: 100vh;
}

.container__sidebar .sidebar_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--gpt-sidebar);
    position: sticky;
    top: 0;
    left: 0;
}

.sidebar_box.active {
    position: absolute;
    width: 30rem;

    &.user {
        flex-direction: row;
    }
}

.container__sidebar .box_sidebar .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    color: var(--gpt-text);
}

.sidebar .user h3 {
    background-color: #777;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .user p {
    display: none;
}

.container__sidebar .icon_menu {
    color: var(--gpt-text);
    margin-top: 2rem;
}

.container__sidebar .btn__signout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--gpt-lightgray);
    padding: 1rem;
    color: var(--gpt-text);
    cursor: pointer;
}

.container__sidebar .btn__signout span {
    display: none;
}

.container__sidebar .sidebar .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__sidebar .sidebar .logo .logo__piramide {
    width: 5rem;
    object-fit: contain;
}

.container__sidebar .menu {
    transition: all .5s ease-in-out;
}

.container__sidebar .menu li {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    padding: 1rem;
    transition: all .5s ease-in-out;
}

.container__sidebar .menu li span {
    display: none;
}

.container__sidebar .menu.active li span {
    display: flex;
}

.container__sidebar .menu li:hover {
    background-color: var(--gpt-lightgray);
}

.create__container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.create__container .btn__create {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7ff02;
    border-radius: 50%;
    padding: 2rem;
    color: var(--gpt-lightgray);
    cursor: pointer;
}

@media screen and (min-width: 48rem) {
    .container__sidebar .sidebar_box {
        width: 30rem;
        position: sticky;
    }

    .container__sidebar .menu li span {
        display: flex;
    }

    .container__sidebar .icon_menu {
        display: none;
    }

    .sidebar .user {
        flex-direction: row;
    }

    .sidebar .user p {
        display: flex;
    }
}
