
.statistics__container .statistics {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.statistics__container  .filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.statistics__container  .filter select {
    background-color: var(--gpt-sidebar);
    color: var(--gpt-text);
    padding: 1rem;
}

.statistics__container .statistics .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: var(--gpt-lightgray);
    padding: 1rem;
    border-radius: .5rem;
}

.statistics .box .total {
    display: flex;
    align-items: center;
    gap: 1rem;
}
