
.header__dashboard {
    background-color: var(--gpt-gray);
    padding: 1rem;
    color: var(--gpt-text);
    margin-bottom: 2rem;
}

.header__dashboard .box_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__dashboard .box_header h4 {
    display: flex;
    align-items: center;
    gap: 1rem;
}
