
.container__title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container__title .title {
    display: flex;
    flex-direction: column;
}

.container__title .title h2 {
    font-size: 2.4rem;
    color: var(--color-blue);
}

.container__title .title p {
    color: var(--color-gray);
}
