.vehicles-container {
    padding: 0 2%;
}

.vehicles-container .vehicles-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.vehicles-list form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vehicles-list form input {
  flex: 1;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1rem;
  border-radius: 1rem;
}

.vehicles-container .vehicles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media screen and (min-width: 48rem) {
    .vehicles-container .vehicles {
        grid-template-columns: repeat(3, 1fr);
    }

    .vehicles-list form {
    flex-direction: row;
  }
}

@media screen and (min-width: 64rem) {
    .vehicles-container {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .vehicles-container .vehicles {
        grid-template-columns: repeat(4, 1fr);
    }
}
