
.vehiclecard-container .vehiclecard {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
}

.vehiclecard .condition {
  position: absolute;
  background-color: var(--color-red);
  padding: 0 .5rem;
  color: var(--color-white);
  top: 1rem;
  right: 1rem;
  opacity: .5;
  border-radius: .5rem;
}

.vehiclecard-container .vehiclecard .box_card {
    padding: 2rem;
}

.vehiclecard .box_card .box_time {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.vehiclecard .box_card .box_time p {
  color: var(--color-gray);
}

.vehiclecard .box_card .box_time h2 {
    color: var(--gpt-black);
    font-size: 2.4rem;
}

.vehiclecard .box_card .box_time .installment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vehiclecard .box_card .box_time .installment h4 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-red);
}

.vehiclecard .box_card .box_time .installment p {
    color: var(--color-gray);
}

.vehiclecard .box_card .box_time .installment strong {
    color: var(--color-red);
}

.vehiclecard .box_card .box_time .car-detail {
    width: 100%;
    background-color: var(--gpt-lightgray);
    padding: .5rem;
    color: var(--gpt-text);
    border-radius: 1rem;
}

.vehiclecard-container .vehiclecard .tec_image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.vehiclecard-container .vehiclecard .box_card .optionals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vehiclecard-container .vehiclecard .box_card .optionals span {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray);
    padding: .5rem;
}
