
.benefits-container {
  background: url('/bg-benefits.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.benefits-container h2 {
  font-size: 2.4rem;
  color: var(--color-white);
  margin-bottom: 2rem;
}

.benefits-cointainer .benefits {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.benefits .benefit-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: 3px 5px 15px 3px rgba(0, 0, 0, 0.2);
}


.benefits .benefit-card span {
    position: absolute;
    top: -1.5rem;
    right: 0;
    color: var(--color-red);
}

.benefits .benefit-card p {
    color: #717171;
}

@media screen and (min-width: 48rem) {
    .benefits-container .benefits {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 64rem) {
    .benefits-container .benefits {
        grid-template-columns: repeat(3, 1fr);
    }
}
